$primary-color: #2395f1;

//网站黑色
$deep-black-color: #353535; //主色，用于标题和重要信息展示
$shallow-black-color: #9a9a9a; //描述信息颜色

//网站白色
$deep-white-color: #fff;
$shallow-white-color: rgba(255, 255, 255, 0.67)




