{
  "env": {
    "browser": true,
    "commonjs": false,
    "es6": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": ["react", "import"],
  "rules": {
    "no-unused-vars": ["warn"],
    "indent": ["error", 2],
    "react/display-name": ["warn"],
    "react/jsx-indent": ["error", 2],
    "comma-dangle": ["error", "never"],
    "no-console": ["warn"],
    "import/no-unresolved": ["off"],
    "react/no-find-dom-node": ["warn"]
  }
}
